body{
    align-items: baseline;
    text-align: center;
    background-color: #191919;
    
    color: white;
}
div {
    background-color: #282626;
    padding: 10px;
    margin: 200px;
    border-radius: 50px;

}
button {
    background-color: #26c05f;
    border: none;
    padding: 8px 30px;
    border-radius: 16px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s;
    margin: 12px 0;
}
button:hover {
    opacity: .8;
}
a{
    text-decoration: none;
    color: #FFF;
}